time {
	display: block;
	margin-bottom: 0;
	font-size: em(12);
	color: $c-blue--brighter;
	
	@media screen and ( max-width: $smartphone + px ) {
		font-size: get-vw-640(16);
	}
	
	@media screen and ( max-width: $smartphone_portrait + px ) {
		font-size: get-vw-480(16);
	}
}

