.o-bg {
	@extend %rel;
	min-height: 100vh;
	
	background: {
		size: cover;
		position: center;
	}
	overflow: hidden;
	
	&--dashboard {
		@media screen and ( max-width: $tablet + px ) {
			background: {
				image: url(../img/bg/login.jpg) !important;
				position: center bottom;
				repeat: no-repeat;
				size: contain;
			}
		}
	}
	
	&--list {
		@media screen and ( max-width: $tablet_portrait + px ) {
			background-image: url(../img/bg/list.jpg) !important;
		}
	}

	&--login {
		@media screen and ( max-width: $tablet_portrait + px ) {
			background-image: url(../img/bg/login.jpg) !important;
		}
	}
	
	&--message {
		@media screen and ( max-width: $tablet_portrait + px ) {
			background-image: url(../img/bg/message.jpg) !important;
		}
	}
	
	&--status {
		@media screen and ( max-width: $tablet_portrait + px ) {
			background-image: url(../img/bg/status.jpg) !important;
		}
	}
}