.o-field {
	@extend %anim-slow;
	@extend %rel;
	padding: 0 20px;
	height: 40px;
	background-color: white;
	border: 1px solid transparent;
	border-radius: 0;
	box-shadow: rgba(black, .1) 0 0 10px;
	font: {
		size: em(14);
		weight: $medium;
	}
	color: $c-blue;
	
	&--big {
		height: 48px;
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			height: 80px;
			font-size: em(20);
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			height: get-vw-560(80);
			font-size: get-vw-560(20);
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			height: get-vw-480(80);
			font-size: get-vw-480(20);
		}
	}
	
	.has-error & {
		border-color: $c-red !important;
	}	

	&:focus {
		box-shadow: rgba(black, .3) 0 0 40px;
	}
	
	&.parsley-error {
		border-color: $c-red;
		color: $c-red;
	}
}

textarea.o-field {
	height: 120px;
	padding: 10px 20px;
}