.o-filters {
	@extend %abs-y;
	right: 40px;
	display: none;

	@media screen and ( max-width: $tablet + px ) {		
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	@media screen and ( max-width: $smartphone + px ) {
		right: grid(40, $smartphone);
	}
	
	width: 64px;
	height: 64px;
	background-color: #005aae;
	text-align: center;
	line-height: 64px !important;
	font-size: 24px;
	color: white;
	cursor: pointer;
	
	@media screen and ( max-width: 640px ) {
		height: get-vw-640(63); 
		width: get-vw-640(63); 
	}
	
	@media screen and ( max-width: 480px ) {
		width: get-vw-480(63);
		height: get-vw-480(63);
		font-size: get-vw-640(24);
	}
}