.o-form {

	
	
	input[type=radio],
	input[type=checkbox] {
		display: none;
	
		& + label {
			i {
				float: left;
				height: 20px;
				width: 20px;
				background-color: white;
				border-radius: 2px;
				cursor: pointer;
				vertical-align: middle;
				font-size: em(12);
				padding: 4px 0 0 2px;
				color: $c-gray;
				
				&:before {
					opacity: 0;
				}
			}
	
			span {
				float: left;
				padding: 2px 0 0 10px;
				vertical-align: middle;
				font-size: em(13) !important;
			}
		}
		
		&:checked {
			& + label {
				i {
					background-color: white;
					
					&:before {
						opacity: 1;
					}
				}
			}
		}
	}


}






