.icon-filters:before {
  content: "\e919";
}
.icon-hamburger:before {
  content: "\e918";
}
.icon-archive:before {
  content: "\e900";
}
.icon-arrow--left:before {
  content: "\e901";
}
.icon-arrow--right:before {
  content: "\e902";
}
.icon-arrow-fat--left:before {
  content: "\e903";
}
.icon-arrow-fat--right:before {
  content: "\e904";
}
.icon-arrow-fat-down:before {
  content: "\e905";
}
.icon-circle:before {
  content: "\e906";
}
.icon-empty-document:before {
  content: "\e907";
}
.icon-heart:before {
  content: "\e908";
}
.icon-keyboard:before {
  content: "\e909";
}
.icon-lens--dot .path1:before {
  content: "\e90a";
  color: rgb(29, 157, 217);
}
.icon-lens--dot .path2:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(236, 33, 39);
}
.icon-lens:before {
  content: "\e90c";
}
.icon-list:before {
  content: "\e90d";
}
.icon-message:before {
  content: "\e90e";
}
.icon-minus:before {
  content: "\e90f";
}
.icon-plus:before {
  content: "\e910";
}
.icon-power:before {
  content: "\e911";
}
.icon-star:before {
  content: "\e912";
}
.icon-tick--circle:before {
  content: "\e913";
}
.icon-tick:before {
  content: "\e914";
}
.icon-tools:before {
  content: "\e915";
}
.icon-x-2:before {
  content: "\e916";
}
.icon-x:before {
  content: "\e917";
}
