.o-lens {
	@extend %abs;
	right: 1px; top: 0; z-index: 10;
	background-color: white; 
	background: {
		image: url(../img/icons/lens--dot.svg);
		position: center;
		size: 18px 18px;
		repeat: no-repeat;
		color: transparent;
	}
	width: 45px;
	height: 100%;
	border-left: 1px solid $c-blue;
	
	
	
	@media screen and ( max-width: $tablet + px ) {
//		height: calc(100% - 2px);
		width: 63px; 
		background-size: 34px 34px;
	}
	
	
	@media screen and ( max-width: 640px ) {
//		height: calc(100% - 2px);
		width: get-vw-640(63); 
	}
	
	@media screen and ( max-width: 528px ) {
		background-size: 24px 24px;
	}
	
	@media screen and ( max-width: 480px ) {
//		height: calc(100% - 2px);
		width: get-vw-480(63); 
	}
	
	&:hover {
		background-size: 20px 20px;
	}
}