.o-row {
	@extend %flex;
	flex-wrap: wrap;
	justify-content: flex-start;
    align-items: center;
	margin-bottom: 10px;
	
	@media screen and ( max-width: $smartphone + px ) {
		flex-direction: column;
	}
	
	&__col {
		@media screen and ( min-width: $smartphone + 1px ) {
			flex-grow: 1;
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			width: 100%;
			margin-bottom: 5px;
		}
	}
	
	&--space-between {
		justify-content: space-between;
	}
}
