.c-confirm {
	width: 646px;
	color: white;
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
		position: relative; z-index: 5;
	}
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		width: 100%;
		padding: 0 20px;
	}
	
	&__close {
		@extend %abs;
		right: 0; top: 10px;
		padding-bottom: 2px;
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			right: 20px;
		}
		
		span {
			margin-right: 5px;
			font-size: em(16);
		}
		
		i {
			font-size: em(15);
		}
		
		&:hover {
			border-bottom: 1px solid white;
		}
		
	}
	
	&__field {
		float: left;
		width: 228px;
		margin-right: 5px;
		
		&:last-of-type {
			margin-right: 0;
		}
		
		&--submit {
			width: 180px;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			width: 100%;
			margin: 0 0 5px 0;
		}
	}
	
	.o-btn {	
		width: 100%;
			
		@media screen and ( min-width: $tablet_portrait + 1px ) {
			padding-right: 10px;
			justify-content: space-around;
		}
	}
	
	.o-header__title {
		margin-bottom: 30px;
	}
	
	.parsley-errors-list.filled li {
		color: white;	
	}
}