.c-corrections {
	width: $base + px;
	padding-top: 80px;

	&__content {
		background-color: white;
		box-shadow: 0 5px 25px rgba(black, .1);
		border-bottom: 1px solid $c-gray--brighter;
	}
	
	.o-header {
		padding: {
			left: 40px;
			right: 40px;
		}
		
		.o-btn {
			font: {
				size: em(16);
				weight: $medium;
			}
		}
		
		.icon-tools {
			margin-right: 10px;
			font-size: em(21);
		}
	}
	
}

