.c-filters {
	@extend %flex;
    justify-content: space-between;
	padding: 20px 40px;
	color: $c-blue;
	
	 @media screen and ( min-width: $tablet + 1px ) {
	 	margin-bottom: 20px;
	 	border-bottom: 1px solid $c-gray--brighter;
	 }
	
	@media screen and ( max-width: $smartphone + px ) {
		padding: 20px grid(40, $smartphone);
	}
	
	&__content {
		@extend %flex;
		
		@media screen and ( max-width: $tablet + px ) {
			width: 560px;
		}
		
		.nav-filters & {
			flex-direction: column;
		    justify-content: center;
			flex-wrap: wrap;
			
			@media screen and ( max-width: 560px ) {
				padding: 0 20px;
			}
			
			.c-filters__item--wide {
				margin-bottom: 20px;
				
				@media screen and ( max-width: $smartphone + px ) {
					margin-bottom: get-vw-640(20);
				}
				
				@media screen and ( max-width: $smartphone_portrait + px ) {
					margin-bottom: get-vw-480(20);
				}
			}
			
			.o-header {
				display: block;
			    margin-bottom: 25px;
				text-align: center;
			}
		}
		
		.o-header {
			display: none;
		}
	}
	
	&__overlay {
		@media screen and ( max-width: $tablet + px ) {
			display: none;
		}

		.nav-filters & {
			position: fixed;
			left: 0; top: 0; z-index: 10;
			display: flex;
			justify-content: center;
			width: 100%; height: 100vh;
			background-color: white;
			animation: fadeInFromNone .5s ease-out;
			
			
			.nice-select {
				height: 80px;
				line-height: 80px;
				font-size: em(20);
				
				@media screen and ( max-width: $smartphone + px) {
					height: get-vw-560(80);
					line-height: get-vw-560(80);
					font-size: get-vw-560(20);
				}
				
				@media screen and ( max-width: $smartphone_portrait + px) {
					height: get-vw-480(80);
					line-height: get-vw-480(80);
					font-size: get-vw-480(20);
				}
				
				&:after {
					right: 20px;
					height: 80px;
					font-size: em(12);
				}
				
				.current {
					font-weight: $medium;
				}
			}
		}
	}

	&__item {
		@extend %flex;
	    align-items: center;
	    
	    .nav-filters & {
	    	width: 100%;
	    }

	    &--datepickers {
	    	@media screen and ( min-width: $tablet + 1px ) {
			    margin-right: 10px;
		    }
		    
		    .nav-filters & {
			    .o-field {
			    	height: 80px;
			    	font-size: em(20);
			    	
			    	@media screen and ( max-width: $smartphone + px) {
			    		height: get-vw-560(80);
				    	font-size: get-vw-560(20);
				    }
				    
				    @media screen and ( max-width: $smartphone_portrait + px ) {
				    	height: get-vw-480(80);
				    	font-size: get-vw-480(20);
				    }
			    }			   	    
		    }
	    }
	    
	    &--datepickerSort {		    
		    .nav-filters & {
		    	flex-direction: column-reverse;
			    flex-wrap: wrap;
		    }
	    }
	    
	    &--submit {
	    	display: none;
			padding-top: 20px;
			
			
			@media screen and ( min-height: 680px ) and ( max-width: 560px ) {
				padding-left: 20px;
				padding-right: 20px;
			}
			
	    	.nav-filters & {
	    		display: block;
	    		
	    		@media screen and ( min-width: 561px ) {
	    			width: 560px;
	    		}

	    		@media screen and ( min-height: 680px ) {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 30px;
					//width: 560px;
	    		}	    		
	    	}

			.o-btn {
				display: flex;
				justify-content: center;
				width: 100%;
				height: 112px;
				font-size: em(24);
				
				i {
					margin-right: 15px;
					font-size: em(16);
				}
				
				@media screen and ( max-width: $smartphone + px ) {
					height: get-vw-640(112);
					font-size: get-vw-640(24);
				}
				
				@media screen and ( max-width: $smartphone_portrait + px ) {
					height: get-vw-480(112);
					font-size: get-vw-480(24);
				}
			}
	    }
    
		&--wide {
			@media screen and ( min-width: $tablet + 1px ) {
				width: 210px;
			}
		}
		
		&--search {			
			@media screen and ( max-width: $tablet + px ) {
				width: 100%;
			}

			.o-field {
			
				@media screen and ( max-width: $tablet + px ) {
					height: 64px;
					font-size: em(20);
				}
				
				@media screen and ( max-width: 560px ) {
					height: get-vw-560(64);
					font-size: get-vw-560(20);
				}
				
				@media screen and ( max-width: $smartphone_portrait + px ) {
					height: get-vw-480(64);
					font-size: get-vw-480(20);
				}
			}
		}
		
		&--short {
			@media screen and ( min-width: $tablet + 1px ) {
				width: 160px;
			}
			
			span {
				padding: 0 10px;
				
				.nav-filters & {
					padding: 0 15px;
					font-size: em(20);	
					
					@media screen and ( max-width: 560px) {
						font-size: get-vw-560(20);
					}				
				}
			}
			
			&:first-of-type {
				.nav-filters & {
					span {
						padding-left: 0;
					}
				}
			}
		}
	}
	
	.o-field {
		border-color: #80add7;
		box-shadow: none;
	}
}