.c-filters {
	@extend %flex;
	@extend %rel;
    justify-content: space-between;
	padding: 20px 40px;
	color: $c-blue;
	
	 @media screen and ( min-width: $tablet + 1px ) {
	 	margin-bottom: 20px;
	 	border-bottom: 1px solid $c-gray--brighter;
	 }
	
	@media screen and ( max-width: $smartphone + px ) {
		padding: 20px grid(40, $smartphone);
	}
	
	&__content {
		@extend %flex;
		
		@media screen and ( max-width: $tablet + px ) {
			width: 560px;
			margin: 0 auto;
		}
		
		.nav-filters & {
			flex-direction: column;
		    justify-content: center;
			flex-wrap: wrap;
			
			@media screen and ( max-width: $smartphone + px ) {
				padding: 0 20px;
			}
			
			.c-filters__item--wide {
				margin-bottom: 10px;

				@media screen and ( min-width: $smartphone + 1px ) and ( max-width: $tablet + px )  {
					margin-bottom: 20px;
				}
				
				@media screen and ( max-width: $smartphone + px ) {
					margin-bottom: get-vw-640(20);
				}
				
				@media screen and ( max-width: $smartphone_portrait + px ) {
					margin-bottom: get-vw-480(20);
				}
			}
			
			.o-header {
				display: block;
			    margin-bottom: 25px;
				text-align: center;
			}
		}
		
		.o-header {
			display: none;
		}
	}
	
	&__overlay {
		@media screen and ( max-width: $tablet + px ) {
			display: none;
			
			&.openedDatepicker {
				padding-bottom: 200px;
			}
		}
		
		
		
		//@media screen and ( max-height: $smartphone + px ) {
		//padding-top: get-vw-640(100);
	//}

		.nav-filters & {
			position: fixed;
			left: 0; top: 0; z-index: 10;
			display: flex;
			
			justify-content: center;
			width: 100%; height: 100vh;
			padding-top: 120px;
			padding-bottom: 40px;
			background-color: white;
			animation: fadeInFromNone .5s ease-out;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			
			@media screen and ( max-height: 740px ) {
				align-items: flex-start;
			}

			.nice-select {	
			
				@media screen and ( min-height: 400px ) and ( max-width: $tablet + px )  {
					height: 80px;
					line-height: 80px;
					font-size: em(20);
				}
				
				@media screen and ( min-height: 400px ) and ( max-width: $tablet_portrait + px )  {
					height: get-vw-768(80);
					line-height: get-vw-768(80);
					font-size: get-vw-768(20);
				}
				
				@media screen and ( min-height: 400px ) and ( max-width: $smartphone + px )  {
					height: get-vw-480(80);
					line-height: get-vw-480(80);
					font-size: get-vw-480(20);
				}		
				
			/*
	@media screen and ( min-width: $smartphone + px)  and ( orientation: portrait ) {
					height: 80px;
					line-height: 80px;
					font-size: em(20);
				}
				
				@media screen and ( max-width: $smartphone + px) and ( orientation: portrait ) {
					height: get-vw-560(80);
					line-height: get-vw-560(80);
					font-size: get-vw-560(20);
				}
				
				@media screen and ( max-width: $smartphone_portrait + px) and ( orientation: portrait ) {
					height: get-vw-480(80);
					line-height: get-vw-480(80);
					font-size: get-vw-480(20);
				}
*/
				
				&:after {
					right: 20px;
					height: 100%;
					
					@media screen and ( orientation: portrait ) {
//						height: 80px;
						font-size: em(12);
					}
				}
				
				.current {
					font-weight: $medium;
				}
			}
		}
	}

	&__item {
		@extend %flex;
	    align-items: center;
	    
	    .nav-filters & {
	    	width: 100%;
	    }

	    &--datepickers {
	    	@media screen and ( min-width: $tablet + 1px ) {
			    margin-right: 10px;
		    }
		    
		    .o-field {
				opacity: 1 !important;
			}
		    
		    .nav-filters & {
		    	margin-right: 0;
		    	
			    .o-field {
	
			    	@media screen and ( min-height: 400px ) and ( max-width: $tablet + px ) {
						height: 80px;
				    	font-size: em(20);
					}
					
					@media screen and ( min-height: 400px ) and ( max-width: $tablet_portrait + px ) {
						height: get-vw-768(80);
				    	font-size: get-vw-768(20);
					}
	
			    	@media screen and ( min-height: 400px ) and ( max-width: $smartphone + px ) {
						height: get-vw-480(80);
				    	font-size: get-vw-480(20);
					}
					
					@media screen and ( max-width: 375px ) {
						padding: 0 10px;
						text-align: center;
					}
			    }			   	    
		    }
	    }
	    
	    &--datepickerSort {		    
		    .nav-filters & {
		    	flex-direction: column-reverse;
			    flex-wrap: wrap;
		    }
	    }
	    
	    &--submit {
	    	display: none;
			padding-top: 20px;
			
			
			@media screen and ( min-height: $smartphone + 1px ) and ( max-width: 560px ) {
				padding-left: 20px;
				padding-right: 20px;
			}
			
	    	.nav-filters & {
	    		display: block;
	    		
	    		@media screen and ( min-width: 561px ) {
	    		//	width: 560px;
	    		}

	    		@media screen and ( min-height: 740px ) and ( min-width: $tablet_portrait + px ) {
					position: absolute;
					left: 50%;
					transform: translateX(-50%);
					bottom: 30px;
					width: 600px;
	    		}	    		
	    	}

			.o-btn {
				justify-content: center;
				width: 100%;
				
				@media screen and ( min-height: 400px ) and ( max-width: $tablet + px ) {
					height: 112px;
					font-size: em(24);
				}
				
				@media screen and ( min-height: 400px ) and ( max-width: $tablet_portrait + px )   {
					height: get-vw-768(112);
					font-size: get-vw-768(24);
				}
				
				@media screen and ( min-height: 400px ) and ( max-width: $smartphone + px )   {
					height: get-vw-480(112);
					font-size: get-vw-480(24);
				}
				
				
				/*
@media screen and ( max-width: $smartphone + px ) {
					height: get-vw-640(112);
					font-size: get-vw-640(24);
				}
*/

				/*
@media screen and ( min-height: $smartphone_portrait + px ) {
					height: get-vw-480(112);
					font-size: get-vw-480(24);
				}
*/

				
				i {
					margin-right: 15px;
					
					@media screen and ( orientation: portrait ) {
						font-size: em(16);
					}
				}
			}
	    }
    
		&--wide {
			@media screen and ( min-width: $tablet + 1px ) {
				width: 210px;
			}
		}
		
		&--search {		
			@extend %rel;	
			width: 246px;

			@media screen and ( max-width: $tablet + px ) {
				width: 100%;
			}

			.o-field {
				padding-right: 88px;
			
				@media screen and ( max-width: $tablet + px ) {
					height: 64px;
					font-size: em(20);
				}
				
				@media screen and ( max-width: 560px ) {
					height: get-vw-560(64);
					font-size: get-vw-560(20);
				}
				
				@media screen and ( max-width: $smartphone_portrait + px ) {
					height: get-vw-480(64);
					font-size: get-vw-480(20);
				}
			}
		}
		
		&--short {
			@media screen and ( min-width: $tablet + 1px ) {
				width: 160px;
			}
			
			span {
				padding: 0 10px;

				.nav-filters & {
					@media screen and ( min-height: 400px ) and ( max-width: $tablet + px )  {
						padding: 0 15px;
						font-size: em(20)
					}
					
					@media screen and ( min-height: 400px ) and ( max-width: $tablet_portrait + px )  {
						padding: 0 get-vw-768(15);
						font-size: get-vw-768(20)
					}
					
					@media screen and ( min-height: 400px ) and ( max-width: $smartphone + px )  {
						padding: 0 get-vw-480(15);
						font-size: get-vw-480(20)
					}
					/*
@media screen and ( min-width: $smartphone + 1px ) and ( orientation: portrait ) {
						padding: 0 15px;
						font-size: em(20);	
					}
					
					@media screen and ( max-width: 560px) and ( orientation: portrait ) {
						font-size: get-vw-560(20);
					}	
*/			
				}
			}
			
			&:first-of-type {
				.nav-filters & {
					span {
						padding-left: 0;
					}
				}
			}
		}
	}
	
	.o-field {
		border-color: #80add7;
		box-shadow: none;
	}
}

