.c-footer {	
	@extend %flex;
    justify-content: space-between;
	color: white;	

	@media screen and ( min-width: $base + 1px ) {
		position: absolute;
		left: 50%; bottom: 0;
		transform: translateX(-50%);
		width: 1200px;
	}
	
	@media screen and ( max-width: $base + px ) {
		padding: 0 20px;
	}
	
	@media screen and ( min-width: $tablet_portrait + 1px ) {
		height: 40px;
	}

	@media screen and ( max-width: $tablet_portrait + px ) {
		height: 60px;
		justify-content: center;
	}


	&__copy {

		a {
			@extend %underline-onstart;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			font-size: em(16);
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			font-size: get-vw-640(16);
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			text-align: center;
			font-size: get-vw-480(16);
		}
		
	}
	
	&__created {

		img {
			display: inline-block;
		}
		
		@media screen and ( max-width: $tablet_portrait + px ) {
			display: none;
		}
	}
}
