.c-list {
	@extend %rel;
	color: $c-blue;

	&--empty {
		min-height: 50vh;
		text-align: center;
	}

	&__empty {
		@extend %abs;
		left: 0; top: 50%;
		transform: translateY(-100%);
		width: 100%;
		text-align: center;
		
		@media screen and ( max-width: $smartphone + px ) {
			padding: 0 40px;
		}

		.icon-empty-document {
		    display: inline-block;
			margin-bottom: 15px;
		    font-size: 60px;
			color: $c-blue--brighter;
		}
		
		p {
			font-size: em(16);
			color: #00539f;
			
			@media screen and ( max-width: $smartphone + px ) {
				font-size: em(14);
			}
			
		}
		
	}
	
	&__author {
		width: grid(220, $base - 80);

		@media screen and ( max-width: $smartphone + px ) {
			display: none;
		}
	}

	&__buttons {
		@extend %flex;
		justify-content: space-between;
		
		@media screen and ( min-width: $smartphone + 1px ) {
			width: grid(260, $base - 80);
		}
		
		.o-btn {
			display: flex;
		    flex-grow: 1;
		    justify-content: center;
		    padding: 0;

		    &:first-of-type {
			    margin-right: 5px;
		    }
		    
		    .is-active & {
			    background-color: white;
			    border: 2px solid #80add7;
			    color: $c-blue;

			    &:hover {
				    background-color: $c-blue;
				    border-color: transparent;
				    color: white;
			    }
		    }
		    
		    @media screen and ( max-width: $tablet + px ) {
				span {
					display: none;
				}
				
				i {
					margin: 0;	
				}
			}
		}
		
		
		
		.rollin {
			display: none;
			
			@media screen and ( max-width: $smartphone + px ) {
				display: none;
			}
			
			.is-active & {
				display: flex;
			}
		}
		
		.rollout {
			display: flex;			

			@media screen and ( max-width: $smartphone + px ) {
				display: flex;
				width: 64px; height: 64px;	
				color: white;

				span {
					display: none;
					
				}
			}
			
			@media screen and ( max-width: 560px ) {
				width: get-vw-560(64);
				height: get-vw-560(64);
			}
			
			.is-active & {
				display: none;
			}
		}
		
		.vote {
			@media screen and ( max-width: $smartphone + px ) {
				display: none;
			}
		}
	}

	&__comment {
		width: 455px;
		background-color: #eaf6fe;
		border: 1px solid #d4edfc;
		padding: 20px 40px;

		h6 {
			margin-bottom: 5px;
			font: {
				size: em(16);	
				weight: $bold;
			}
			color: $c-blue;
		}
		
		p {
			color: #5494cf;
		}
	}

	&__desc {
		@extend %rel;
		top: -4px;
		width: 500px;
		margin-right: 30px;
		color: #00539f;
	}
	
	&__message {
		width: 50px;
		
		.icon-message {
			font-size: em(32);
			color: $c-blue--brighter;
		}
	}
	
	&__image {
		@extend %rel;
		display: block;
		width: 64px;
		
		&:after {
			@extend %abs-after;
			left: 0; top: 0;
			width: 100%; height: 100%;
			background-color: rgba($c-blue, .5);
		}
		
		span {
			@extend %abs; z-index: 10;
			right: -12px; top: -12px;
			width: 26px; height: 26px;
			background-color: $c-blue--brighter;
			border-radius: 50%;
			border: 2px solid white;
			text-align: center;
			line-height: 20px;
			font-size: em(12);
			color: white;
		}
		
		i {
			@extend %abs-xy;
			z-index: 15;
			color: white;
		}
	}
	
	&__item {
		@extend %anim-slow;
		@extend %flex;
		@extend %rel;
	    flex-wrap: wrap;
	    background-color: white;
	    padding: 15px 0;
	    
	    @media screen and ( max-width: $smartphone + px ) {
	    	padding: 35px 0;
	    }
	    
		@media screen and ( max-width: 560px ) {
			padding: get-vw-560(35) 0;
		}
	    
	    &:nth-child(even) {
			background-color: #d4edfc;
		}
		
		&:first-child {
		    @media screen and ( max-width: $tablet + px ) {
				display: none;
			}
		}
		
	    &.is-active {
	    	z-index: 10;
		    box-shadow: 0 0 10px rgba(black, .2);
		    margin-left: -10px;
		    margin-right: -10px;
		    padding-left: 10px;
		    padding-right: 10px;
	    }
	}
	
	&__name {
		@media screen and ( min-width: $smartphone + 1px ) {
			width: grid(360, $base - 80);
		}

		.date,
		.id {
			font-size: em(12);
		}
		
		.id {
			font-weight: $bold;
		}

		.name {
			font: {
				size: em(16);
				weight: $bold;
			}
		}
		
		.date {
			@media screen and ( max-width: $smartphone + px ) {
				font-size: em(16);
			}
			
			@media screen and ( max-width: 560px ) {
				font-size: get-vw-560(16);
			}
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			.id, .name {
				display: inline;
				font-size: em(20);
			}
		}
		
		@media screen and ( max-width: 560px) {
			.id, .name {
				font-size: get-vw-560(20);
			}
		}
	}
	
	&__row {
		@extend %flex;
		align-items: center;
		width: 100%;
		padding: 0 40px;
		
		@media screen and ( max-width: $smartphone + px ) {
			padding: 0 grid(40, $smartphone);
		}
		
		@media screen and ( max-width: $tablet + px ) {
			justify-content: space-between;
		}
		
		&--details {
			padding: {
				top: 40px;
				bottom: 20px;
			}			
			
			.is-active & {
				animation: fadeInFromNone .5s ease-out;
			}
		}
		
		&--header {
			@extend %flex;
			padding-bottom: 20px;
		
			h5 {
				font: {
					size: em(16);
					weight: $bold;
				}
			}
			
			.icon-circle {
				margin-right: 5px;
				color: #80add7;
			}
		}
	}
	
	&__status {
		@media screen and ( min-width: $tablet + 1px ) {
			width: grid(180, $base - 80);
		}
	}

	&__thumbnail {
		@extend %rel;
		width: 85px;		
	}

	&__votes {
		@media screen and ( min-width: $smartphone + 1px ) {
			width: grid(100, $base - 80);
		}
		
		span {
			@media screen and ( max-width: $smartphone + px ) {
				font-size: em(20);
			}
			
			@media screen and ( max-width: 560px) {
				font-size: get-vw-560(20);
			}
		}
		
		.c-list__row--header & {
			width: grid(360, $base - 80);
		}

		.icon-heart {
			margin-right: 4px;
			color: $c-blue--brighter;
			
			@media screen and ( max-width: $smartphone + px ) {
				font-size: em(20);				
			}
		}
	}

	.icon-minus,
	.icon-plus {
		margin-left: 10px;
		color: #80add7;
		font-size: em(12);
	}
	
	[class^="icon-"] {
		display: inline-block;
		vertical-align: middle;
	}
	
	.icon-tick--circle {
		font-size: em(16);
		color: $c-green;
	}
	
	.icon-star {
		font-size: em(16);
		color: $c-yellow;
		
		@media screen and ( max-width: $smartphone + px ) {
			font-size: em(23);
		}
		
	}
	
	.icon-x-2 {
		color: $c-red;
	}
}

.is-hidden {
				display: none;
			}