.c-logo {
	@extend %abs-y;
	left: 20px;
	display: block;
	width: 138px;
	height: 61px;
	
	@media screen and ( max-width: $tablet + px ) {
		left: 50%;
		transform: translate(-50%, -50%);
	}
	
	@media screen and ( max-width: 560 + px ) {
		width: get-vw-560(138);
		height: get-vw-560(61);
	}
}