.c-messages {
	width: $messages + px;
	
	.c-page--messages & {
		padding-top: 20px;
	}
	
	&--wide {
		width: $messages--wide + px;
	}

	&__content {
		background-color: white;
		box-shadow: 0 5px 25px rgba(black, .1);		

		article {
			padding: 40px 60px;
			border-bottom: 1px solid $c-gray--brighter;
			
			h3 {
				margin-bottom: 15px;
				font: {
					size: em(32);
					weight: $light;
				}
				color: $c-blue;
			}
		}
	}
}
