.c-navbtn {
	@extend %anim-slow;
	@extend %abs;
	left: calc((100% - 1200px)/2);
	top: 100px;
	z-index: 30;
	transform: translateX(-100%);
	opacity: 0;
	
	@media screen and ( max-width: $tablet + px ) {
		left: 20px;
	}
	
	@media screen and ( max-width: $tablet + px ) {
		position: fixed;
		left: 40px; top: 32px;
		font-size: em(20);
		
		.icon-arrow-fat--left {
			&:before {
				font-size: em(20);
			}
		}
	}
	
	@media screen and ( max-width: $smartphone + px ) {
		left: get-vw-640(40);
		top: get-vw-640(32);
		font-size: get-vw-640(20);
		
		span {
			display: none;
		}
	}
	
	.pace-done & {
		transform: translateX(0);
		opacity: 1;
	}
	
	&--list {
		left: calc((100% - 1200px)/2);
		
		@media screen and ( max-width: $base + 40px ) {
			left: 20px;
		}
	}
	
	&--status {
		left: calc((100% - 1200px)/2);
		
		@media screen and ( max-width: $base + 40px ) {
			left: 20px;
		}
	}
	
	&--messages {
		left: calc((100% - 960px)/2);
	}

	i {
		color: $c-red;
	}

	&--prev {
		.o-btn {
			@media screen and ( max-width: $tablet + px ) {
				background: none;
				padding: 0;
				height: auto;
			}
			
			i {
				margin-right: 10px;
				font-size: em(11) !important;
			}
			
			&:hover {
				i {
					transform: translateX(-5px);
				}
			}
		}
	}
	
	.nav-filters & {
		display: none;
	}
}