.c-nav {
	@extend %anim-slow;
	-webkit-overflow-scrolling: touch;
	overflow: auto;

	@media screen and ( max-width: $tablet + px ) {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
    }
    
    

	.mobile-nav & {
		@media screen and ( max-height: $smartphone + px ) {
			padding-top: get-vw-640(100);
		}
	}

	ul {
		@extend %flex;
		//padding: 120px 0;

		@media screen and ( max-width: $tablet + px ) {
			width: 600px;
			flex-wrap: wrap;			
		}

		@media screen and ( max-width: $smartphone + px ) {
			width: calc(100% - 40px);
		}

		li {
			@media screen and ( max-width: $tablet + px ) {
				width: 100%;
				margin-bottom: 5px;
			}
			
			@media screen and ( max-width: $tablet + px ) {
				margin-bottom: 20px;
			}

			&:last-child {
				
					
				@media screen and ( min-height: $smartphone + 1px ) and ( max-width: $tablet + px ) {
					position: absolute;
				   	left: 50%; bottom: 30px;
					transform: translateX(-50%);				
				    width: 600px;
				}
				
				@media screen and ( min-height: $smartphone + 1px ) and ( max-width: $smartphone + px ) {				
				    width: calc(100% - 40px);
				}
			}				
		}
	}

	@media screen and ( min-width: $tablet + 1px ) {
		position: absolute;
		top: 50%;
		right: 20px;
		transform: translateY(-100%);
		opacity: 0;
	}

	@media screen and ( max-width: $tablet + px ) {
		position: fixed;
		left: 0; top: 0; z-index: 15;
		width: 100%; height: 100%;
		background-color: white;
		z-index: 10;
		display: none;
		
		.mobile-nav & {
			display: flex;
			animation: fadeInFromNone .5s ease-out;
		}
	}

	.o-btn {
		margin-right: 5px;

		@media screen and ( max-width: $tablet + px ) {
			display: flex;
		    justify-content: center;
		    width: 100%;
		}

		@media screen and ( min-height: 400 + px ) and ( max-width: $tablet + px ) {
			height: 112px;
			font-size: em(24); 
		}
		
		@media screen and ( min-height: 400 + px ) and ( max-width: $tablet_portrait + px ) {
			height: get-vw-768(112);
			font-size: get-vw-768(24);
		}
		
		@media screen and ( min-height: 400 + px ) and ( max-width: $smartphone + px ) {
			height: get-vw-640(112);
			font-size: get-vw-640(24);
		}
	
		@media screen and ( min-height: 400 + px ) and ( max-width: $smartphone_portrait + px ) {
			height: get-vw-480(112);
			font-size: get-vw-480(24);
		}
		
		/*
@media screen and ( max-width: $smartphone + px ) and ( orientation: portrait ) {
			height: get-vw-640(112);
			font-size: get-vw-640(24);
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			height: get-vw-480(112);
			font-size: get-vw-480(24);
		}
*/

		.icon-circle {
			margin-right: 10px;
			font-size: em(14);
			color: $c-blue--brighter;
			
			@media screen and ( max-width: $tablet + px ) {
				margin-right: 15px;
				font-size: em(20);
			}
		}

		.icon-list {
			@media screen and ( max-width: $tablet + px ) {
				margin-right: 15px;
				font-size: em(16);
			}
		}
	}

	.pace-done & {
		opacity: 1;
		
		@media screen and ( min-width: $tablet + 1px ) {
			transform: translateY(-50%);
		}
	}
}