.c-page {
	@extend %flex;
	@extend %rel;
	@extend %anim-slow;
	z-index: 20;
	min-height: calc(100vh - 40px);
	padding: 120px 0 40px 0;
	
	justify-content: center;
	
	&--vertical-center {
		align-items: center;
	}
	
	&--dashboard {
		
		.c-messages {
			@extend %anim-slow;
			opacity: 0;
			transform: translateX(100px);
			
			.pace-done & {
				opacity: 1;
				transform: translateX(0);
			}
		}
		
		.c-propform {
			@extend %anim-slow;
			opacity: 0;
			transform: translateX(-100px);
			
			.pace-done & {
				opacity: 1;
				transform: translateX(0);
			}
		}		
	}
	
	&--default {
		transform: scale(.9);
		opacity: 0;
		
		.pace-done & {
			opacity: 1;
			transform: scale(1);
		}
	}
	
	
}