.c-page {
	@extend %flex;
	@extend %rel;
	z-index: 20;
	min-height: calc(100vh - 40px);
	padding: 140px 0 40px 0;
	
	@media screen and ( max-width: $tablet_portrait + px ) {
		min-height: calc(100vh - 60px);
	}
	
	@media screen and ( max-width: 560 + px ) {
		padding: get-vw-560(140) 0 get-vw-560(40) 0;
	}
	
	justify-content: center;
	
	&--vertical-center {
		align-items: center;
	}

	&--dashboard {
		margin-bottom: 50px;
		
		@media screen and ( max-width: $tablet + px ) {
			align-items: center;
			flex-direction: column;
			padding-top: 100px;
		}	
		
		@media screen and ( max-width: 560px ) {
			padding-top: get-vw-560(100);
		}	    
	}
	
	&--login {		
		@media screen and ( max-width: 560px ) {
			padding-top: get-vw-560(100);
		}
		
		@media screen and ( min-width: 561px ) {
			align-items: center;
		}
		
	}
}