.c-pictogram {
	@extend %flex-xy;
    flex-direction: column;
	width: 280px;
	height: 280px;
	background-color: white;
	border-radius: 50%;
	margin: 0 auto 40px auto;
	
	@media screen and ( max-width: $smartphone + px ) {
		width: get-vw-640(280);
		height: get-vw-640(280);
		margin-bottom: get-vw-640(40);
	}
	
	@media screen and ( max-width: $smartphone_portrait + px ) {
		width: get-vw-480(280);
		height: get-vw-480(280);
		margin-bottom: get-vw-480(40);
	}
	
	> div {
		margin-bottom: 20px;
		
		i {
			margin: 0 2px;
		}
	}
	
	i {
		margin-bottom: 20px;
		font-size: em(48);
		
		@media screen and ( max-width: $smartphone + px ) {
			font-size: get-vw-640(48);
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			font-size: get-vw-480(48);
		}
	}
	
	span {
		display: block;
		font-size: em(20);
		color: $c-blue;
		
		@media screen and ( max-width: $smartphone + px ) {
			font-size: get-vw-640(16);
		}
		
		@media screen and ( max-width: $smartphone_portrait + px ) {
			font-size: get-vw-480(16);
		}
	}
	
	&.implemented {
		color: $c-green;
	}
	
	&.accepted {
		color: $c-blue--brighter;
	}
	
	&.rejected,
	&.submitted {
		color: $c-red--brighter;
	}
	
	&.tools {
		color: $c-blue--brighter;
		
		i {
			font-size: em(66);
		}
	}
	
	&.verified {
		color: $c-yellow;
	}
}