.c-propform {
	width: 590px;
	padding: 80px 80px 0 0;
	
	@media screen and ( min-width: $tablet + 1px ) and ( max-width: 1390px ) {
		width: grid(590, 1390);
		padding: 80px grid(80, 1390) 0 0;
	}
	
	@media screen and ( max-width: $tablet + px ) {
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	&__content {
		box-shadow: 0 5px 25px rgba(black, .1);
		background-color: $c-blue;
		padding: 50px 60px;
		color: white;
		
		@media screen and ( min-width: $tablet + 1px ) and ( max-width: 1390px ) {
			padding: 50px grid(60, 510);
		}
		
		@media screen and ( max-width: $smartphone + px ) {
			padding: get-vw-640(50) grid(40, $smartphone);
		}
		
		.o-header {
			white-space: nowrap;
			border-bottom: 1px solid rgba(white, .1);
			margin-bottom: 20px;
			padding-bottom: 10px;

			.o-header__title {
				@media screen and ( min-width: $tablet + 1px ) and ( max-width: 1390px ) {
					font-size: get-vw-1390(32);
				}
			}
		}
		
		.o-row {
			margin-bottom: 5px;
			
			@media screen and ( max-width: $smartphone + px ) {
				flex-wrap: wrap;
			}
			
			&__col {
				&--select {
					width: 240px;
					
					@media screen and ( max-width: $smartphone + px ) {
						width: 100%;
						margin-bottom: 0;
					}
				}
				
				&:first-of-type {
					@media screen and ( min-width: $smartphone + 1px ) {
					    padding-right: 5px;
				    }
				}			
				
				.o-btn {
					@extend %flex-block;
					
					@media screen and ( max-width: $smartphone + px ) {
						width: 100%;
					}
				}			
			}
		}	
	}
	
	.icon-plus {
		margin-right: 10px;
		font-size: em(12);
	}
	
	.icon-tools {
		margin-left: 10px;
		font-size: em(21);
	}
}

