.c-status {
	width: 650px;
	color: white;
	
	.o-header {
		margin-bottom: 40px;
	}
	
	&__message {
		margin-bottom: 40px;

		h4 {
			margin-bottom: 15px;
			font: {
				size: em(18);
				weight: $bold;
			}
		}
	}
}