.c-status {
	width: 650px;
	color: white;
	
	.o-header {
		margin-bottom: 40px;
		
		@media screen and ( max-width: 560px ) {
			margin-bottom: get-vw-560(40);
		}
	}
	
	&__message {
		margin-bottom: 40px;

		h4 {
			margin-bottom: 15px;
			font: {
				size: em(18);
				weight: $bold;
			}
		}
	}
}