.c-top {
	@extend %fixed;
	left: 0; top: 0;
	z-index: 30;
	width: 100%;
	height: 100px;
	background-color: white;
	//overflow: hidden;
	box-shadow: 0 3px 9px rgba(#190f11, .16);

	@media screen and ( max-width: $smartphone_portrait + px ) {
		height: get-vw-480(100);
	}

}

