// Colors

$c-blue--darker:	#00519c;
$c-blue:			#005aae;
$c-blue--brighter:	#009fe3;
$c-blue--brightest:	#6da1d1;

$c-gray--brighter:	#dadada;
$c-gray:			#4a4a49;

$c-green:			#27c620;

$c-red:				#ed1c24;
$c-red--brighter:	#f2696f;

$c-yellow:			#ffc000;
