// Fonts

$icons:			'icomoon';
$text:			'Roboto', sans-serif;


// Font weights

$light:				300;
$regular:			400;
$medium:			600;
$bold:				700;
$black:				900;


// Default

$base-font-size:	14;
$base:				1200;


// Width

$messages: 800;
$messages--wide: 960;


$tablet:				1024;
$tablet_portrait:		768;
$smartphone:			640;
$smartphone_portrait:	480;